/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* CSS variables */
:root {
    --primary-font: "Gruppo", sans-serif; 
    --secondary-font: "Nunito", sans-serif;
    --primary-color: #c08552;
    --secondary-color: #f3e9dc;
    --highlight-color: #5e3023;
}

/* Global styles */
body { 
    font-family: var(--secondary-font);
    background-color: var(--primary-color);
}

/* Navbar */
#navbar {
    background-color: var(--highlight-color);
}

.nav-link {
    color: var(--secondary-color);
    font-size: 1.2rem;
    padding: 1rem 3rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--secondary-color);
}

.navbar-nav {
    width: 25%;
}

.nav-logo {
    height: 50px;
    width: auto;
}

/* Hero */

.hero {
    position: relative;
}

.hero-image {
    background-image: url(../images/hero-image-2-copy.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;  
    display: block;  
    height: 30rem;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-weight: 900;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.4)
}

/* Main Section */
#about {
    background-color: var(--highlight-color);
    background-size: cover;
    margin: auto; 
}

.about-text {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

.container {
    display: flex;
  flex-direction: column;
}

/* Footer */
#footer .container-fluid {
    flex-direction: column;
    align-items: center;
  }

#footer .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }

  .footer-logo {
    height: 150px;
    margin-top: 15px;
    width: 100%;
    object-fit: contain ;
  }


#footer .table * {
    background-color: transparent;
}

#footer .list {
    list-style-type: none;
    margin-bottom: 5px;
}

#footer .list a{
    color: black;
    text-decoration: none;
}

#footer .list a:hover {
    color: #555;
}

/* Media queries */ 
/* on large screens: side by side */
@media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
  }

  /* Footer responsiveness on larger screens*/
  @media (min-width: 768px) {
    #footer .container-fluid {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 2rem;
    }
  }